.App {
  text-align: center;
  font-size: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  margin: 2%;
  width: 20%;
  cursor: pointer;
}
.form{
  width: 50%
}
.input{
  margin: 2% 0;
}
input{
  padding: 3%;
  width: 80%;
}
button{
  padding: 3%;
  background-color: #004578;
  color: white;
  border-color: #004578;
  cursor: pointer;
  box-shadow: none;
  border-style: none;
  border: 3px solid #004578;
  margin: 2%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
